/* Color */
:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --white: 	hsl(0, 0%, 100%); 
}
/* General */
body {
  /* Font Weights 400 & 700 */
  font-size: 18px;
  font-family: 'Kumbh Sans', sans-serif;

  background-color: var(--dark-cyan);
  background-image: url(/assets/images/bg-pattern-top.svg), url(/assets/images/bg-pattern-bottom.svg);
  background-position: top -600px left -700px, bottom -600px right -700px;
  background-repeat: no-repeat, no-repeat;

  position: relative;
  height: 100vh;
}

.hr {
  margin-top: 3rem;
  width: 100%;
  height: 1px;
  background-color: var(--dark-gray);
}

.profCard {
  min-width: 400px;
  background-color: var(--white);
  border-radius: 9px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.profCardImg {
  border-radius: 9px 9px 0 0;
}

.victorHeadshot {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 5px solid #fff;
}

.profCardTitle {
  margin-top: 5rem;
}

.profCardCity {
  margin-top: 1rem;
}

.stats {
  display: flex;
  justify-content: space-around;
}


.attribution {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}



/* Media Query Breakpoints */

/* 
 * Mobile: 375px
 * Desktop: 1440px 
 */